# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
bin/

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Visual studio code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets

#ignore test
test/
data/*.bin